databaseRoot=/home/patrick/sim/db
#cellClasses=/home/patrick/sim/cells.jar:/home/patrick/sim/eurogate.jar:/home/patrick/sim
cellClasses=/home/patrick/sim/cells.jar
pnfsMountpoint=/pnfs/local/fs
debugTelnetPort=23123
spyPort=23222
pvlDbPort=23124
sshPort=23125
