databaseRoot=/home/patrick/eurogateDb
#cellClasses=/home/patrick/sim/cells.jar:/home/patrick/sim/eurogate.jar:/home/patrick/sim
cellClasses=/home/patrick/sim/cells.jar
spyPort=23222
pvlDbPort=23124
sshPort=23125
clientPort=28000
cellBatch=desyEurogate.batch
